useDynLib(rrad, .registration=TRUE)
importFrom(bit64, as.integer64)
importFrom(data.table, ":=")
importFrom(Rcpp, evalCpp)
export(as_rad_reads)
export(rad_compact)
export(rad_clear_resource_cache)
export(rad_core_info)
export(rad_demux)
export(rad_download_whitelists)
export(rad_load)
export(rad_materialize)
export(rad_pack_reads)
export(rad_qfraction)
export(rad_qmean)
export(rad_qmin)
export(rad_qual_values)
export(rad_read_fastq)
export(rad_reformat)
export(rad_resource_path)
export(rad_rbind_reads)
export(rad_save)
export(rad_scan_wl)
export(rad_storage_stats)
export(rad_stream)
export(rad_stream_close)
export(rad_stream_done)
export(rad_stream_next)
export(rad_validate)
export(rad_write_fastq)
S3method("[",rad_id)
S3method("[",rad_reads)
S3method("[<-",rad_reads)
S3method("[[<-",rad_reads)
S3method("$<-",rad_reads)
S3method("[[",rad_id)
S3method("[",rad_seq)
S3method("[[",rad_seq)
S3method("[",rad_phred)
S3method("[[",rad_phred)
S3method(c,rad_id)
S3method(c,rad_seq)
S3method(c,rad_phred)
S3method(rep,rad_id)
S3method(rep,rad_seq)
S3method(rep,rad_phred)
S3method("[<-",rad_id)
S3method("[[<-",rad_id)
S3method("[<-",rad_seq)
S3method("[[<-",rad_seq)
S3method("[<-",rad_phred)
S3method("[[<-",rad_phred)
S3method(as.character,rad_id)
S3method(as.character,rad_seq)
S3method(as.character,rad_phred)
S3method(as.integer,rad_phred)
S3method(is.na,rad_id)
S3method(is.na,rad_seq)
S3method(is.na,rad_phred)
S3method(anyNA,rad_id)
S3method(anyNA,rad_seq)
S3method(anyNA,rad_phred)
S3method(Ops,rad_id)
S3method(duplicated,rad_id)
S3method(anyDuplicated,rad_id)
S3method(unique,rad_id)
S3method(xtfrm,rad_id)
S3method(sort,rad_id)
S3method(format,rad_id)
S3method(format,rad_seq)
S3method(format,rad_phred)
S3method(print,rad_id)
S3method(print,rad_seq)
S3method(print,rad_phred)
